html,
body,
#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.scrollable {
  overflow: auto; /* permite el desplazamiento vertical */
  margin-left: 0.5rem !important;
}
.scrollable::-webkit-scrollbar {
  display: none; /* oculta la barra de desplazamiento */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

html,
body {
  font-family: montserrat;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

hr {
  width: 100%;
  height: 0.25rem;
  background-color: #0066ef;
  opacity: 1;
  border: none;
}

.rounded-blue-button {
  background-color: white;
  color: #0066ef;
  border-radius: 30px;
  border: 1.5px solid #0066ef;
  margin-bottom: 3%;
}

@media (min-width: 300px) and (max-width: 599px) {
  .rounded-blue-button {
    font-size: 0.55rem;
  }
}

@media (min-width: 600px) {
  .rounded-blue-button {
    font-size: 0.65rem;
  }
}

@media (min-width: 900px) {
  .rounded-blue-button {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .rounded-blue-button {
    font-size: 1rem;
  }
}

.rounded-blue-button-card {
  background-color: white;
  color: #0066ef;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px 20px;
  border: 2px solid #0066ef;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 9px;
  margin-left: 70px;
}

.containerPrincipal {
  flex-direction: row;
  /* align-items: center; */
}

#holder {
  display: flex;
  flex-direction: column;
}

.container-3 {
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  /* margin: auto; */
}

.container-3>div {
  width: 90%;
}

footer {
  margin-top: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
